# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Temporary files
test_audio.mp3
uploads/

# Editor directories and files
.vscode/
.idea/
*.swp
*.pjson
*.njsproj
*.sln
*.suo
*.ntvs*
.DS_Store